<!DOCTYPE html>
<html>
<head>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'Styles/StyleSheet1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>Login/Register</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #33909d;">
		<a class="navbar-brand" href="/">Home</a>
		<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
			aria-expanded="false" aria-label="Toggle navigation"></button>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
								
				{% if user.is_authenticated %}
				<li class="nav-item">
						<a class="nav-link" href="/">{{ user.username }}<img class="img-thumbnail" src="{% static picture %}" alt=""></a>

				</li>
				<li class="nav-item">
						<a class="nav-link" href="/User/logout">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
						<a class="nav-link" href="/admin/">Admin</a>
					</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="2" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login/Register</a>
					<div class="dropdown-menu" aria-labelledby="dropdownId">
						<a class="dropdown-item" href="/User/login">Login</a>
						<a class="dropdown-item" href="/User/register">Register</a>
					</div>
				</li>
			</ul>
			{% endif %}
			<!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
	</nav>

	<div class="container">
		{% block body_block %}
		{% endblock  %}
	</div>
		
</body>
</html>